In [1]:
import pandas as pd

create a dataframe views with two columns: datetime and user by reading feed-
views.log

- convert the datetime to the datetime64[ns] Dtype
- extract the year, month, day, hour, minute, and second from the values of that
column to the new columns

In [6]:
views = pd.read_csv('../data/feed-views.log', delimiter='\t', names=['datetime', 'user'])

In [8]:
views['datetime'] = pd.to_datetime(views['datetime'], format='%Y-%m-%d %H:%M:%S.%f')

In [11]:
views['year'] = views['datetime'].dt.year
views['month'] = views['datetime'].dt.month
views['day'] = views['datetime'].dt.day
views['hour'] = views['datetime'].dt.hour
views['minute'] = views['datetime'].dt.minute
views['second'] = views['datetime'].dt.second

create the new column daytime

- you need to assign the particular time of day value if an hour is within a
particular interval, for example, afternoon if the hour is larger than 11 and
less or equal to 17
- 0 – 3.59 night, 4 – 6.59 early morning, 7 – 10.59 morning, 11
– 16.59 afternoon, 17 – 19.59 early evening, 20 – 23.59 evening
- use the method cut to solve this subtask
- assign the column user as the index

In [12]:
views['daytime'] = pd.cut(views['hour'], bins=[0, 3.59, 6.59, 10.59, 16.59, 19.59, 23.59],
                          labels=['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening'])

views.set_index('user', inplace=True)

calculate the number of elements in your dataframe

- use the method count()
- calculate the number of elements in each time of day category using the method
value_counts()

In [14]:
views.count()

datetime    1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1011
dtype: int64

In [16]:
views.daytime.value_counts()

daytime
evening          509
afternoon        252
early evening    145
night             64
morning           36
early morning      5
Name: count, dtype: int64

sort values in your dataframe by hour, minute, and second in ascending order
(simultaneously and not one by one)

In [17]:
views.sort_values(by=['hour', 'minute', 'second'], inplace=True)

calculate the minimum and maximum for the hours and the mode for the daytime
categories

- calculate the maximum of hour for the rows where the time of day is night
- calculate the minimum of hour for the rows where the time of day is morning
- In addition to this, find out who visited the page at those hours (make one
example from that)
- calculate the mode for the hour and daytime

In [20]:
views.hour.min()

0

In [22]:
views.hour.max()

23

In [24]:
views.daytime.mode().values[0]

'evening'

In [25]:
views[views.daytime == 'night'].hour.max()

3

In [26]:
views[views.daytime == 'morning'].hour.min()

8

In [27]:
views[views.daytime == 'night'].hour.idxmax()

'konstantin'

In [28]:
views[views.daytime == 'morning'].hour.idxmin()

'alexander'

In [29]:
views.hour.mode().values[0]

22

show the 3 earliest hours in the morning and the corresponding usernames and the
3 latest hours and the usernames using nsmallest() and nlargest()

In [35]:
views[views.daytime == 'morning'].nsmallest(3, 'hour')[['hour']]

           hour
user
alexander     8
alexander     8
alexander     9

In [36]:
views[views.daytime == 'morning'].nlargest(3, 'hour')[['hour']]

            hour
user
konstantin    10
maxim         10
maxim         10

use the method describe() to get the basic statistics for the columns

- to find out what the most popular interval for visiting the page is, calculate
the interquartile range for the hour by extracting values from the result of the
describe() method and store it in the variable iqr

In [37]:
views.describe()

,datetime,year,month,day,hour,minute,second
count,1076,1076.0,1076.000000,1076.000000,1076.000000,1076.000000,1076.000000
mean,2020-05-10 09:00:41.211420672,2020.0,4.870818,13.552974,16.249071,29.629182,29.500929
min,2020-04-17 12:01:08.463179,2020.0,4.000000,1.000000,0.000000,0.000000,0.000000
25%,2020-05-10 01:13:49.857472,2020.0,5.000000,11.000000,13.000000,14.000000,14.000000
50%,2020-05-11 22:48:35.302552832,2020.0,5.000000,13.000000,19.000000,29.000000,30.000000
75%,2020-05-14 14:44:34.749530624,2020.0,5.000000,15.000000,22.000000,46.000000,45.000000
max,2020-05-22 10:36:14.662600,2020.0,5.000000,30.000000,23.000000,59.000000,59.000000
std,NaN,0.0,0.335557,4.906567,6.955490,17.689388,17.405506

In [39]:
statistics = views.describe()
iqr = statistics.loc['75%','hour'] - statistics.loc['25%','hour']
iqr

9.0