In [1]:
 import pandas as pd

download and read the CSV file and make ID the index column

In [5]:
df = pd.read_csv('../data/auto.csv', index_col='ID' )
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

In [3]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

drop the duplicates, taking into account only the following columns: CarNumber,
Make_n_model, Fines

between the two equal observations, you need to choose the last
check the number of observations again

In [6]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)

df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

work with missing values

- check how many values are missing from each column
- drop all the columns with over 500 missing values using the argument thresh,
check how many missing values are in each column
- replace all the missing values in the Refund column with the previous value in
that column for that cell, use the argument method, check how many values
are missing from each column
- replace all the missing values in the Fines column with the mean value of this
column (exclude NA/null values when computing the mean value), check how
many values are missing from each column

In [7]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [8]:
df.dropna(thresh=len(df) - 500, axis=1, inplace=True)

In [9]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [10]:
df['Refund'].fillna(method='ffill', inplace=True)

/tmp/ipykernel_31382/2581124870.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Refund'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_31382/2581124870.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Refund'].fillna(method='ffill', inplace=True)

In [11]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [12]:
df['Fines'].fillna(df['Fines'].mean(), inplace=True)

/tmp/ipykernel_31382/368448199.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fines'].fillna(df['Fines'].mean(), inplace=True)

In [13]:
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

split and parse the make and model

- use the method apply both for splitting and for extracting the values to the
new columns Make and Model
- drop the column Make_n_model
- save the dataframe in the JSON file auto.json in the format below:

In [22]:
df[['Make', 'Model']] = df['Make_n_model'].apply(lambda x: pd.Series(x.split(" ", 1)))

In [23]:
df.drop('Make_n_model', axis=1, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 725 entries, 0 to 930
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  725 non-null    object
 1   Refund     725 non-null    float64
 2   Fines      725 non-null    float64
 3   Make       725 non-null    object
 4   Model      716 non-null    object
dtypes: float64(2), object(3)
memory usage: 34.0+ KB

In [26]:
df.to_json('../data/auto.json', orient='records')